@import "tailwindcss";

html {
  background-color: var(--color-slate-100);
}

@theme {
  --shadow-stacked-light: 0px 0px 0px 1px rgba(0,0,0,0.02),
                          0px 1px 1px -0.5px rgba(0,0,0,0.02),
                          0px 2px 2px -1px rgba(0,0,0,0.02);

  --shadow-stacked: 0px 0px 0px 1px rgba(0,0,0,0.03),
                    0px 1px 1px -0.5px rgba(0,0,0,0.03),
                    0px 3px 3px -1.5px rgba(0,0,0,0.03),
                    0px 6px 6px -3px rgba(0,0,0,0.03);

  --shadow-stacked-max: 0px 0px 0px 1px rgba(0,0,0,0.06),
                        0px 1px 1px -0.5px rgba(0,0,0,0.06),
                        0px 3px 3px -1.5px rgba(0,0,0,0.06),
                        0px 6px 6px -3px rgba(0,0,0,0.06),
                        0px 12px 12px -6px rgba(0,0,0,0.06),
                        0px 24px 24px -12px rgba(0,0,0,0.06);
}